body {
    background-image:url('miel.png');     
    width: auto;
    height: auto;
}

.container{
    margin-top: 100px    ;
    background-color:rgba(212, 149, 92, .7);
    padding-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 15px 5px rgb(97, 96, 96);
    width: 500px !important;

}

#header {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Calistoga', cursive;
    
}
    #p1{
    color: black;
    font-family: 'Comfortaa', cursive;}
#p2{
    color: black;
    font-family: 'Comfortaa', cursive;}
.i1{
    border-radius: 5px;
    border-style: solid;
}
.Srazas{
    border-radius: 5px;
}
th, td {
    width: 5em;
}

.tiempo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    margin: auto;
}

#horas {
    margin-right: 15px;
    margin-top: 0.5cm;
}

#minutos {
    margin-left: 15px;
    margin-top: 0.5cm;
}

.motor {
    text-align: center;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 10px;
    margin: auto;
}

#vueltas {
    margin-right: 15px;
    margin-top: 0.5cm;
}

p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 22px;
    margin-top: 0.5cm;
}
#detener{
    border-radius: 5px;
    margin-right: 20px;    
}
#configurar{
    border-radius: 5px;
    margin-left: 20px;
}

.brand_logo_container {
    height: 120px;
    width: 120px;
    top: -72px;
    border-radius: 50%;
    background-image:url('perra.png');
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

hr{
    width: 70%;
    margin-top: 5em;
    color: white;
}